* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    color: #ffffff;
}
.arvo-bold{
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
}

.lato-regular{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img{
    width: 100vw;
}

main{
    background-image: url('../img/FondoImagenParrafo.jpg');
    width: 100vw;
    height: 70vw;
}

footer{
    background-image: url('../img/FondoFooter.png');
    width: 100vw;
    height: 20vw;
}

.pFooter{
    padding: 10vw 10vw;
}