*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}
.arvo-bold{
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
}

.lato-regular{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.centrar{
    display:grid;
    place-content: center;
    text-align: center;
}
body{
    background-color: #000000;
    color: #ffffff;
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
}

header{
    grid-area: header;
    padding: 0;
}
h1{
    padding:65px 190px 15px 190px;
    font-size: 40px;
}
h2{
    padding:15px 190px;
    font-size: 28px;
}
h3{
    font-size: 22px;
    grid-area: h3;
}
img{
    width: 100%;
}
figure{
    padding: 1rem;
}
figcaption{
    padding: 5px 0px;
}
main{
    padding: 25px 190px;
    grid-area: main;
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "h3 h3"
    "h3Canciones h3Canciones"
    "section section"
    "section2 section2"
    "section3 section3"
    "section4 section4"
    "sectionVideojuego sectionVideojuego"
    "sectionOrquesta sectionOrquesta";
    background-image: url('../img/FondoImagen.jpg');
    background-size: cover;
}
footer{
    grid-area: footer;
    background-image: url('../img/FondoFooter.png');
    background-size: cover;
    width: 100%;
    height: 200px;
    /*width: 100%;*/
}
nav{
    background-color: #cb0612;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    padding: 0 190px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
.pFooter{
    /*padding: 20vh 35vw;*/     
}
.sectionCanciones1{
    grid-area: section;
}
.sectionCanciones2{
    grid-area: section2;
}
.sectionCanciones3{
    grid-area: section3;
}
.sectionCanciones4{
    grid-area: section4;
}
.sectionInterno{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "div p";
    padding:20px 0px
}

.sectionOrquesta{
    grid-area: sectionOrquesta;
    padding: 80px 0px;
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "h3 h3"
    "divOrquesta divOrquesta";
}
.divOrquesta{
    grid-area:divOrquesta;
}
.sectionVideojuego{
    grid-area: sectionVideojuego;
    padding: 45px 0px;
}

.divFotos{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "figure1 figure2"
    "figure3 figure4";
}

.figure1{
    grid-area:figure1;
}
.figure1{
    grid-area:figure2;
}
.figure1{
    grid-area:figure3;
}
.figure1{
    grid-area:figure4;
}


.pCancion{
    text-align: justify;
}

.justificar{
    text-align: justify;
}

.imgDiv{
    grid-column: 2;
    justify-self: center;
    width: 150px;
}

/*.botonMenu{
    grid-column: 3;
    justify-self: end;
    background: transparent;
    border:none;
    cursor: pointer;
}*/

.imgButton{
    width: 30px;
    height: auto;
    display: block;
}

.bordeRedondo{
    border-radius: 15px;
}

.h3Orquesta{
    padding: 15px 0px;
}

.h3Canciones{
    grid-area: h3Canciones;
    padding: 15px 0px;
}

#lista{
    position:relative;
    justify-self: end;
}
#absoluta{
    position:absolute;
    padding-left: 0px;
    display: none;
    top:32px;
    left:0px;
}
#absoluta li{
    position:relative;
    background:#cb0612;
}

#absoluta li a{
    color:white;
}
ul #lista:hover #absoluta{
    display:block;
}

.botonMenu{
    background: transparent;
    border:none;
    cursor: pointer;
}

#escenas{
    padding: 15px 0;
}

#h3Main{
    padding: 15px 0;
}