*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.arvo-bold{
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
}

.lato-regular{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #000000;
    color: #ffffff;
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
}

header{
    grid-area: header;
    padding: 0;
}
h1{
    padding:0 190px;
    font-size: 40px;
}
h2{
    padding:0 190px;
    font-size: 28px;
}
h3{
    font-size: 22px;
    grid-area: h3;
}
img{
    width: 100%;
}
figure{
    padding: 1rem;
}
figcaption{
    padding: 5px 0px;
}
main{
    padding: 25px 190px;
    grid-area: main;
    background-image: url('../img/FondoImagenParrafo.jpg');
    background-size: cover;
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "h3 h3"
    "section section"
    "section2 section2"
    "section3 section3"
    "section4 section4"
    "sectionOrquesta sectionOrquesta"
    "sectionVideojuego sectionVideojuego";
}
footer{
    grid-area: footer;
    background-image: url('../img/FondoFooter.png');
    background-size: cover;
    /*width: 100%;*/
}

.pFooter{
    padding: 20vh 35vw;
}
.sectionCanciones1{
    grid-area: section;
}
.sectionCanciones2{
    grid-area: section2;
}
.sectionCanciones3{
    grid-area: section3;
}
.sectionCanciones4{
    grid-area: section4;
}
.sectionInterno{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "div p";
    padding:20px 0px
}
.divCancion{
    
}

.pCancion{
    
}
.sectionOrquesta{
    grid-area: sectionOrquesta;
    padding: 45px 0px;
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "h3 h3"
    "divOrquesta divOrquesta"
}
.divOrquesta{
    grid-area:divOrquesta;
}
.sectionVideojuego{
    grid-area: sectionVideojuego;
    padding: 45px 0px;
}

.divFotos{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "figure1 figure2"
    "figure3 figure4";
}

.figure1{
    grid-area:figure1;
}
.figure1{
    grid-area:figure2;
}
.figure1{
    grid-area:figure3;
}
.figure1{
    grid-area:figure4;
}

.centrar{
    display:grid;
    place-content: center;
    text-align: center;
}